.working > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  
  
}

.working{
     margin:10px 10px 10% 0;
     background-color: var(--section-color);
     border-radius: 5%;
     padding: 3.5%;
}

.working img {
  width: 100%;
  border-radius: 10%;
  box-shadow: rgb(17 17 26 / 10%) 0 4px 16px, rgb(17 17 26 / 5%) 0 8px 32px;
}

.working h2{
    padding-top: 4%;
    text-align: center;
    
}

.working > div > div {
  order: 1;
  padding: 2%;
  
}


.working > div > .working-img-col {
  order: 0;
  
}

.working > div > .working-img-col img {
  display: block;
  border-radius: 50%;
  
}


@media (width >= 900px) {
  .working > div {
    align-items: center;
    flex-direction: unset;
  
  }

  .working > div > div {
    flex: 1;
    order: unset;
  }
}

