.about > div {
  display: flex;
  flex-direction: column;
}

.about img {
  width: 100%;
}

.about > div > div {
  order: 1;
}

.about > div > h2{
    color:var(--dark-color);
}

.about > div > .working-img-col {
  order: 0;
}

.about > div > .working-img-col img {
  display: block;
}


@media (width >= 900px) {
  .about > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .about > div > div {
    flex: 1;
    order: unset;
  }
}

