footer {
  background-color: var(--section-color);
  font-size: var(--body-font-size-s);
}

.copyright p{
  padding-top: 15px;
  text-align: center;
}

footer .footer p {
  margin: 0;
  text-decoration: none;
  
}

footer .footer > div> div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  flex-direction: row;
  gap: 16px;
  
 
}


#resumix{
  font-weight: bold;
  font-size: x-large;
  color: var(--text-color);
  
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--text-color);
  
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0;
  font-size: small;
}




.copyright{
  padding: 16px 0;
}



@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}



